<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>

    <!--
      - Na view detalhes, eu já vou estar com o #ID do pokemon atual, então todos
      atributos que eu puxar do pokemon, vai vir do pokemon atual
    -->
    <h2>Pokémons</h2>

    <main>
      <section class="card">
        <img src="<%= pokemon.image %>" alt="pokémon">

      </section>

    </main>

    
  </body>
</html>