<!DOCTYPE html>
<html lang="pt-BR">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="./css/header.css">
      <link rel="stylesheet" href="./css/main.css">
      <link rel="stylesheet" href="./css/style.css">
      <title>Pokedex</title>
  </head>
  <body>
      <header>
        <img src="/img/header-site.png" alt="pokemon" id="header-pokemon"> 
        <ul>
          <li> <a href="/cadastro">Cadastro</a></li>
        </ul>
      </header>


      <main>

        <section>

          <h2>Pokémons</h2>

          <article id="container-card">
  
            <% pokedex.forEach((pokemon, indice)=> { %> 
              
              <div id="carta">
                <img src= "<%= pokemon.image %>" alt="pokémon" id="foto-pokemon">
                
                <h3><%= pokemon.name %></h3>
                
                <a href="/detalhes/<%= indice%>" >Detalhes</a>
              </div>

            <% }) %>
  
          </article>


        </section>

      </main> 
      
      <footer>
        <p>Luis Guilherme Vieira Neves ©</p>
      </footer>

  </body>
</html>