<!DOCTYPE html>
<html lang="pt-BR">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="./css/header.css">
      <link rel="stylesheet" href="./css/main.css">
      <link rel="stylesheet" href="./css/style.css">
      <title>Pokedex</title>
  </head>
  <body>
      <header>
        <img src="/img/header-site.png" alt="pokemon" id="header-pokemon"> 

        <!--Assim que usuario clicar em cadastro, vai ser redirecionado pra rota cadastro
        que vai renderizar a view cadastro-->
        <ul>
          <li> <a href="/cadastro">Cadastro</a></li>
        </ul>
      </header>


      <main>

        <section>
          <h2>Pokémons</h2>

          <!--Container do pokemon-->
          <article id="container-card">
            <!--Cartas do pokemon-->
            <% pokedex.forEach((pokemon)=> { %> 
              <div id="carta">
                <img src= "<%= pokemon.image %>" alt="pokémon" id="foto-pokemon">
                
                <h3><%= pokemon.name %></h3>

                <!--
                  Quando usuário quiser ver as informações do pokemon, ele vai ser direcionado
                  para a rota detalhes, e passando o #ID do pokemon atual.
                -->
                <a href="/detalhes/<%= pokemon.id%>">Informações do pokemon</a>

              </div>
            <% }) %>
          </article>

        </section>

      </main> 
      
      <footer>
        <p>Luis Guilherme Vieira Neves ©</p>
      </footer>

  </body>
</html>